*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
}

button{
    border:none;
    background:transparent;
}

button, button:focus{
    cursor:pointer;
}

.container{
    width:100vw;
    height:100vh;
    background:white;
}

/*=== header ===*/
header{
    width:100%;
    background:skyblue;

    position:relative;
    text-align:center;
    padding: 15px;
}

/*=== logo ===*/
header .logo{
    display: flex;
    flex-direction: row;
    width: 100%;
}

header .logo > #title{
    margin-left: 8px;
}

header .logo > i{
    font-size: 40px;
}

/*=== nav ===*/
header nav{
    display:none;
}
header nav li{
    padding: 18px;
}

header nav li a{
    font-size: 16px;
    font-weight: bold;
}

/*=== moreBtn ===*/
header #moreBtn + label{
    position:absolute;
    font-size:30px;
    right:30px;
    top: 10px;
    
}

header #moreBtn{
    display:none;
}


header #moreBtn:checked ~ nav{
    display:block;
}

/*=== main ===*/
main{
    width:100%;
    min-height: 800px;
}

/*=== main img_title ===*/
main #img_wrapper{
    width:100%;
    height: 300px;
    position: relative;
}

main #img_wrapper img{
    width:100%;
    height:100%;
}

main #img_wrapper > .title{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

main #img_wrapper > .title > h1{
    color:white;
    font-size: 60px;
}

/*=== main #info_title ===*/
main #info_wrapper{
    width:100%;
    margin-top: 20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

main #info_wrapper .small_bar{
    border-bottom:2px solid black;
    display:block;
    width:100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

main #info_wrapper .info{
    text-align: center;
}


/*=== footer ===*/
footer{
    width:100%;
    height: 80px;
    background:#cfcfcf;
    position: relative;
}

footer .logo{
    display:flex;
    position:absolute;
    top:50%;
    left: 20px;
    transform: translateY(-50%);
}

footer .logo i{
    font-size:40px;
}

footer .logo #title{
    margin-left: 8px;
}

footer .info{
    width:330px;
    position:absolute;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
}

footer .info span{
    font-size: 10px;
}